body{
    margin: 5px;
    -webkit-appearance: none; /*chrome*/
    -moz-appearance: none;  /*mosila8*/
    appearance: none;
}

a, h1, h2{
    text-decoration: none;
    font-family: balsamiq sans;
}

#home-page{
    background-color: white;
}

#home-page .content header .head{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;

    margin: 0;

}

#home-page .content header img{
    width: 8%;
}

#home-page .content header .head .User{
    display: grid;
    grid-template-columns: 1fr;
}

#home-page .content header .head .User .Resume a{
    color: white;

    background-color: green;

    border: 2px solid ;
    border-color: black;
    border-radius: 8px;

    height: 20px;
    width: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
}

#home-page .content header .head .User .login a{
    color: white;

    background-color: gray;

    border: 2px solid ;
    border-color: black;
    border-radius: 8px;

    height: 20px;
    width: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#home-page .content header .item-select{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#home-page .content header .item-select h1{
    background-color: rgb(185, 49, 72);

    border: 2px solid ;
    border-color: green;
    border-radius: 8px 0 0 8px;

    height: 50px;

    margin-top: 0;
}

#home-page .content header .item-select li {
    list-style: none;
}

#home-page .content header .item-select a{
    color: white;
    background-color: rgb(185, 49, 72);

    border: 2px solid ;
    border-color: green;

    font-size: 18px;

    height: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    cursor: pointer;
}

#home-page .content header .item-select h2{
    background-color: rgb(185, 49, 72);
    
    border: 2px solid ;
    border-color: green;

    height: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: 0;

    border-radius: 0px 8px 8px 0px;
}

#home-page .content main .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;

    background-color: pink;

    border: 2px solid;
    border-color: pink;
    border-radius: 8px;
}

#home-page .content main .middle .descrition{
    margin-right: 50px;
    margin-left: 50px;

    height: 450px;
    width: 500px;

    text-align: center;
}

#home-page .content main h1{
    margin-top: 5px;

    font-size: 48px;
}

#home-page .content main h2{
    margin-left: 20px;
    margin-right: 20px;

    font-size: 24px;
}

#home-page .content main .image{
    margin-right: 50px;
}

#home-page .content main .image img{
    width: 100%;
    height: 400px;

    border: 2px solid ;
    border-color: black;
    border-radius: 8px;

    object-fit: cover;
}

#home-page .content main .footer{
    background-color: rgb(185, 49, 72);

    border: 2px solid ;
    border-color: green;
    border-radius: 8px;

    margin-top: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


#home-page .content main .footer li{
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 5px;
}